@tailwind base;
@tailwind components;
@tailwind utilities;

.bennar_last_part{
    box-shadow: 0px 15px 40px 0px rgba(100, 96, 96, 0.604);
    border-radius: 16px;
}

.Left:hover{
    box-shadow: 0px 5px 20px 0px rgba(100, 96, 96, 0.604);
}
.travel{
    box-shadow: 0px 5px 10px 0px rgba(100, 96, 96, 0.507);
    border-radius: 20px;
}
.subscribe_input{
    box-shadow: 0px 32px 84px 0px rgba(14, 86, 124, 0.16);
}
.naim{
    padding-bottom: 32px !important;
}
.date{
    border: 2px solid rgba(145, 145, 145, 0.2) !important;
}


.dark_thems{
    background: #000;
    color: #fff;
}